
body{margin: 60px;
padding:60px;}
#leftSide{float: left;
padding-top:0;}
#rightSide{float: right;}
#heading ,h1{
   display: inline-block; 
  margin-top: -30px;
  margin: 0;
 
 
 
}
#logo{height:80px;
/* border: solid; */
}
#heading p{
    
   
    color:darkgray;
    font-size: small;
}
 #print{
float: right;

}
.container{position: relative;}
.left{position: absolute;
    position: absolute;
    top: 30px;
    left: 50px;}
.right{position: absolute;
    top: 30px;
    right:300px;}
    #shareBut{
    background-color: lightcoral;
float: right;}
ul.a{
    list-style-type:square;
}
ul.b{list-style-type:square;}

#vanessaPar{padding-left: 80px;
margin: -10px;

font-size: small;
color:gray;}
#shareBut{
    display: inline-block;
    margin-top: -20px;
}

#footerPar{
    text-align: center;
    font-size: x-small;
    color:lightslategray
}
